.cardContainer {
    width: 600px;
    height: 300px;
    border-radius: 8px;
    box-shadow: var(--shadowBox1);
    background-color: var(--primary3);
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.cardContainer:hover{
    background-color: rgba(36, 36, 36, 0.384);
}

.cardImgBannerContainer{
    height: 170px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cardLikesPicto {
    width: 20px;
    margin-top: 3px;
    cursor: pointer;
}

.cardTitle {
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}

.cardTitle:hover {
    color: var(--colory1);
}

.cardInfosContainer {
    display: flex;
    justify-content: space-between;
}

.cardInfosUserImg {
    background-color: dark;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: var(--shadowBox1);
}

.cardInfosUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.cardInfosDate {
    align-self: center;
    margin-top: 3px;
    font-size: 0.9rem;
}

.cardUsernameCreator {
    margin-top: 3px;
    text-decoration: none;
    color: var(--light);
    cursor: pointer;
    font-size: 1rem;

}

.cardUsernameCreator:hover {
    color: var(--colory1);
}

.cardInfosLikes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
    margin: 10px 10px;
    
}

.cardLikesCount{
    font-weight: 600;
    font-size: 1.3rem;
    align-self: flex-end;
}


.cardTags {
    display: flex;
    padding: 5px;
}

.cardTags p {
    background-color: var(--primary2);
    padding: 1%;
    margin: 7px;
    border-radius: 5px;
}
