.homeContent {
    display: flex;
    gap: 70px;
}

.homeTLogo{
    width: 64px;
    
}

.navPictos{
    width: 32px;
}

.navMenu {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 32px;
}

.navLinks {
    display: flex;
    text-decoration: none;
    color: var(--light);
    font-weight: 600;
    font-size: 1.5rem;
    gap: 10px;
    align-items: flex-end;
}

.navLinks:hover{
    color: var(--colory1);
}

.homeLeftContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}

.homeCentralContainer {
    background-color: var(--primary2);
    height: 100vh;
    width: 600px;
}

.homeRightContainer {
    width: 300px;
    height: 300px;
    background-color: var(--primary2);
    margin-top: 30px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: var(--shadowBox1);
}
.spanTags{
    background-color: var(--primary1);
    border-radius: 7px;
}

.containerStickyNav {
    background-color: rgba(0, 0, 0, 0.288);
    width: 100%;
    height: 50px;
}
.stickyPictoNavHome {
    text-decoration: none;
    color: var(--light);
    font-size: 1.2rem;
    font-weight: 600;
}